html
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    //
      MediaNews Group
      Developed by Chris Johnson cjohnson@medianewsgroup.com
    style.
      .gallery_toolbar_xBackButton,
      .gallery_toolbar_xBackButton2 {
      background-image: url(http://webservices.medianewsgroup.com/mobile/t1//assets/back2.png)
      }
      .sm_but_icon.sectionw:before {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/dfm_mobile_icons.png) -5px 0
      }
      .sm_but_icon.section_sm_w:before {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/dfm_mobile_icons.png) -346px 0
      }
      .sm_but_icon.sectionb:before {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/dfm_mobile_icons.png) -5px -35px
      }
      .sm_but_icon.settings {
      background-image: url(http://webservices.medianewsgroup.com/mobile/t1//assets/settings.svg) no-repeat 50%
      }
      .sm_but_icon.settingsb:before {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/settings.svg)
      }
      .sm_but_icon.settingsb:active {
      background: rgba(255, 255, 255, .2)
      }
      .sm_but_icon.leftarroww:before {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/dfm_mobile_icons.png) -523px 0
      }
      .sm_but_icon.leftarrowb:before {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/dfm_mobile_icons.png) -523px -35px
      }
      .sm_but_icon.leftarrowb:active {
      background: rgba(0, 0, 0, .2)
      }
      .sm_but_icon.sharew:before {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/dfm_mobile_icons.png) -110px 2px
      }
      .sm_but_icon.shareb:before {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/dfm_mobile_icons.png) -110px -35px
      }
      .sm_but_icon.shareb:active {
      background: rgba(255, 255, 255, .2)
      }
      .sm_but_icon.closew:before {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/dfm_mobile_icons.png) -402px 2px
      }
      .sm_but_icon.closeb:before {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/dfm_mobile_icons.png) -402px -35px
      }
      .sm_but_icon.whitedotshade:before {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/dfm_mobile_icons.png) -1671px -36px
      }
      .sm_but_icon.whitedotshade:active {
      background: rgba(255, 255, 255, .2)
      }
      .sm_but_icon.example:active:before,
      .sm_but_icon.example:before {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/dfm_mobile_icons.png) -1657px -36px
      }
      .sm_but_icon.example:active {
      background: rgba(255, 255, 255, .2)
      }
      .sm_but_icon.homeb {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/home.png) -2px 7px no-repeat
      }
      .sm_but_icon.backb {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/nav-back.svg) center center no-repeat
      }
      .settings {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/settings.svg) 50% no-repeat, linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .5) 100%)
      }
      .settings:focus,
      .settings:hover {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/settings.svg) 50% no-repeat, rgba(0, 0, 0, .5)
      }
      .share {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/share.png) 50% no-repeat, -webkit-linear-gradient(top, transparent 0, rgba(0, 0, 0, .35) 100%) 50% no-repeat
      }
      .nav-click i {
      background: url(http://webservices.medianewsgroup.com/mobile/t1//assets/drop.svg) center center no-repeat
      }
      * {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent!important
      }
      html {
      font-size: 100%;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%
      }
      @-ms-viewport {
      width: device-width
      }
      article,
      aside,
      details,
      div,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      li,
      main,
      nav,
      section,
      summary,
      ul {
      position: relative
      }
      body {
      font: 200 1em/1.6 Helvetica, Helvetica, Arial, sans-serif;
      color: #333;
      background-color: #FFF
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
      font-weight: 200;
      line-height: 1.2em;
      font-size: 100%;
      margin: .5em 0
      }
      h1 {
      font-size: 2em
      }
      h2 {
      font-size: 1.66em
      }
      h3 {
      font-size: 1.33em
      }
      .nowrap {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap
      }
      .splash {
      position: absolute;
      background-color: none;
      width: 100%;
      height: 100%;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center
      }
      #dfm_mobile {
      background-color: #fff;
      height: auto !important;
      left: 0;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      top: 0;
      width: 100%;
      }
      #dfm_mobile>div {
      width: inherit;
      height: inherit;
      visibility: hidden;
      z-index: 1;
      left: 100%;
      top: 0;
      opacity: 1
      }
      #dfm_mobile>div.active {
      position: fixed;
      left: 0;
      top: 0;
      visibility: visible;
      z-index: 8
      }
      #dfm_mobile>div.animated {
      visibility: visible;
      -moz-transition-property: left, top, opacity;
      -moz-transition-duration: .25s;
      -webkit-transition-property: left, top, opacity;
      -webkit-transition-duration: .25s;
      -o-transition-property: left, top, opacity;
      -o-transition-duration: .25s;
      -transition-property: left, top, opacity;
      transition-duration: .25s
      }
      #dfm_mobile>div.front {
      z-index: 10
      }
      #dfm_mobile>div.hidden {
      visibility: hidden;
      z-index: 1
      }
      #dfm_mobile>div.overlay {
      background-color: none
      }
      #dfm_mobile>div.behindoverlay {
      visibility: visible;
      opacity: 1
      }
      #dfm_mobile>div.tester {
      background-color: green
      }
      #dfm_mobile>div.slide {
      left: 100%;
      top: 0
      }
      #dfm_mobile>div.slideRight {
      left: -100%;
      top: 0
      }
      #dfm_mobile>div.slideUp {
      left: 0;
      top: 100%
      }
      #dfm_mobile>div.slideDown {
      left: 0;
      top: -100%
      }
      #dfm_mobile>div.fade {
      left: 0;
      top: 0;
      opacity: 0
      }
      #dfm_mobile>div.blockerdiv {
      position: absolute;
      left: 0;
      top: 0;
      background-color: none;
      z-index: 8;
      visibility: visible
      }
      .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #666;
      z-index: 5
      }
      .content.belowtoolbar {
      margin-top: 40px
      }
      .content.backshadow {
      background: #000;
      opacity: .8;
      z-index: 1
      }
      .content.pattern {
      background: #cbd2d8;
      color: #000
      }
      .content.black {
      background: #000
      }
      .content.overlay {
      -webkit-box-shadow: none;
      box-shadow: none
      }
      .content.alertwindow {
      margin: 20px;
      background: #cbd2d8;
      border-radius: 15px
      }
      .toolbar {
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      width: 100%;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(126, 0, 24, 1)), color-stop(44%, rgba(95, 0, 10, 1)), color-stop(100%, rgba(57, 6, 2, 1)));
      background-image: -moz-linear-gradient(top, rgba(126, 0, 24, 1) 0, rgba(95, 0, 10, 1) 44%, rgba(57, 6, 2, 1) 100%);
      z-index: 9
      }
      .toolbar h4 {
      position: absolute;
      margin: 0;
      padding: 0 60px;
      width: 100%;
      float: left;
      line-height: 40px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap
      }
      .noImageToolbarText {
      font-weight: 500;
      font-size: 120%;
      line-height: 2em!important;
      color: #FFF
      }
      .toolbar.tbdark {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 1)), color-stop(0, rgba(40, 40, 40, .9)));
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 44%, rgba(40, 40, 40, .9) 100%)
      }
      .toolbar.native {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#b2bbca), color-stop(.25, #a7b0c3), color-stop(.5, #909cb3), color-stop(.5, #8593ac), color-stop(.75, #7c8ba5), to(#73839f));
      background: -moz-linear-gradient(top, #b2bbca 0, #a7b0c3 25%, #909cb3 50%, #8593ac 51%, #7c8ba5 75%, #73839f 100%)
      }
      .toolbar.darkblue {
      background: #ddd;
      opacity: .95
      }
      .toolbar.sectiont {
      background: #333;
      opacity: .95
      }
      .toolbar.article {
      background: #ddd;
      opacity: .95;
      position: relative
      }
      .toolbar.black {
      background: -moz-linear-gradient(top, rgba(125, 126, 125, 1) 0, rgba(14, 14, 14, 1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(125, 126, 125, 1)), color-stop(100%, rgba(14, 14, 14, 1)));
      background: -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0, rgba(14, 14, 14, 1) 100%);
      background: -o-linear-gradient(top, rgba(125, 126, 125, 1) 0, rgba(14, 14, 14, 1) 100%)
      }
      .toolbar.purple {
      background: -moz-linear-gradient(top, rgba(137, 137, 186, 1) 0, rgba(137, 137, 186, 1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(137, 137, 186, 1)), color-stop(100%, rgba(137, 137, 186, 1)));
      background: -webkit-linear-gradient(top, rgba(137, 137, 186, 1) 0, rgba(137, 137, 186, 1) 100%);
      background: -o-linear-gradient(top, rgba(137, 137, 186, 1) 0, rgba(137, 137, 186, 1) 100%)
      }
      .toolbar_table {
      display: table;
      border-collapse: collapse;
      border-spacing: 0;
      white-space: nowrap;
      width: 100%
      }
      .toolbar_table_td {
      display: table-cell;
      vertical-align: top
      }
      .toolbar_title {
      width: 100%;
      -o-text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: top
      }
      .toolbar h1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font: 700 20px/40px Helvetica, Sans-serif;
      text-align: center;
      margin: 6px 50px 0 0;
      width: 100% letter-spacing: -1px;
      color: #FFF
      }
      .gallery_toolbar_xBackButton {
      margin: 5px 0 0 4px;
      width: 86px;
      height: 25px;
      padding-top: 6px;
      padding-left: 8px;
      color: #fff;
      text-align: center;
      background-repeat: no-repeat;
      float: left
      }
      .gallery_toolbar_xBackButton2 {
      margin: 4px 0 0 4px;
      width: 86px;
      height: 25px;
      padding-top: 6px;
      padding-left: 8px;
      font-size: 1em;
      color: #fff;
      text-align: center;
      background-repeat: no-repeat;
      float: right
      }
      .wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: auto
      }
      .scroller {
      padding-bottom: 20px
      }
      .scroller .Xul {
      list-style: none;
      margin-bottom: 20px;
      border-top: 1px solid #e3e3e3
      }
      .scroller .Xli {
      background-color: #fff;
      -webkit-user-select: none;
      -webkit-tap-highlight-color: #fff;
      padding: .75em 1em;
      border: 1px solid #a8abad;
      border-width: 0 1px 1px;
      color: #000
      }
      .verts {
      -webkit-user-select: none;
      -webkit-tap-highlight-color: #fff;
      padding: .75em 1em;
      border-width: 0 1px 1px;
      color: #000;
      overflow: hidden;
      background-color: #ddd;
      height: 34px;
      line-height: .8em;
      margin-bottom: 2px;
      font-size: 90%;
      text-align: center
      }
      .verts.header {
      background-color: #fff;
      line-height: 2.4em;
      color: #444;
      font-size: 80%
      }
      .verts_container {
      margin-top: 10px;
      margin-bottom: 40px
      }
      .scroller .Xli:after {
      display: none;
      content: '>';
      color: #888;
      height: 100%;
      vertical-align: middle;
      float: right;
      margin-right: 6px
      }
      .scroller .Xli.no_action:after {
      content: ''
      }
      .darker .Xli {
      background-color: #797979;
      border: 1px solid #a8abad;
      border-width: 0 1px 1px;
      color: #fff
      }
      .darker .Xli:after {
      color: #fff
      }
      .scroller .Xli:first-of-type {
      border-top: 1px solid #acacac;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px
      }
      .scroller .Xli:last-of-type {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px
      }
      .scroller .list_header {
      color: #777;
      padding: .5em 1em
      }
      .credits {
      color: #fff;
      text-align: center;
      font-size: .625em
      }
      .scroller.full {
      margin: 0;
      padding: 0
      }
      .scroller.full .Xul {
      margin-bottom: 0
      }
      .scroller.full .Xli {
      color: #333;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid #e3e3e3
      }
      .scroller.full .Xli:after {
      color: #000
      }
      .scroller.full .list_header {
      margin: 0;
      font-size: 1.1em;
      color: #777
      }
      .scroller.full.dark {
      background-color: #000
      }
      .scroller.full.dark .Xul {
      margin-bottom: 0
      }
      .scroller.full.dark .Xli {
      padding: .5em 1em;
      color: #fff;
      background-image: -webkit-gradient(linear, 50% 0, 50% 100%, from(#282829), to(#2F3031));
      background: -moz-linear-gradient(top, #282829 0, #2F3031 100%);
      border: 0;
      border-bottom: 1px solid #1E1E1F
      }
      .scroller.full.dark .Xli:after {
      color: #999
      }
      .scroller.full.dark .list_header {
      color: #afafaf
      }
      .carousel_wrapper {
      width: 100%;
      height: 100%;
      float: left;
      position: relative;
      z-index: 1;
      overflow: hidden;
      border-radius: 10px
      }
      .carousel {
      margin: 0;
      padding: 0;
      background-color: #333;
      width: 100%;
      height: 100%
      }
      .carousel .Xul {
      list-style: none;
      display: block;
      float: left;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      text-align: left
      }
      .carousel .Xli {
      display: block;
      float: left;
      width: 104px;
      height: 100%;
      text-align: center
      }
      .carousel .list {
      margin: 0
      }
      .loading_container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: -60px;
      text-align: center;
      opacity: 0;
      z-index: 15;
      -moz-transition-property: opacity;
      -webkit-transition-property: opacity;
      -o-transition-property: opacity;
      -transition-property: opacity;
      transition-property: opacity;
      -moz-transition-duration: .3s;
      -webkit-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s
      }
      .loading_container.active {
      opacity: 1
      }
      .loading_window {
      width: 100%;
      margin: 0 auto;
      vertical-align: center;
      position: absolute;
      top: 36%;
      left: 0
      }
      .loading_text {
      text-align: center;
      line-height: 120%;
      margin: 0;
      width: 100%
      }
      .animation_block {
      display: inline-block;
      margin: 6px 0 10px
      }
      .barlittle {
      width: 16px;
      height: 16px;
      float: left;
      margin-left: 8px;
      opacity: .7;
      -webkit-animation: move 1.2s infinite linear;
      -moz-animation: move 1.2s infinite linear
      }
      #block_1 {
      -webkit-animation-delay: .3s;
      -moz-animation-delay: .3s
      }
      #block_2 {
      -webkit-animation-delay: .2s;
      -moz-animation-delay: .2s
      }
      #block_3 {
      -webkit-animation-delay: .1s;
      -moz-animation-delay: .1s
      }
      #block_4 {
      -webkit-animation-delay: .2s;
      -moz-animation-delay: .2s
      }
      #block_5 {
      -webkit-animation-delay: .3s;
      -moz-animation-delay: .3s
      }
      @-webkit-keyframes move {
      from {
      -webkit-transform: scale(1)
      }
      to {
      -webkit-transform: scale(.4)
      }
      }
      @-moz-keyframes move {
      0% {
      -moz-transform: scale(1)
      }
      100% {
      -moz-transform: scale(.4)
      }
      }
      .sm_but_icon {
      height: 40px;
      width: 49px;
      cursor: pointer;
      border-width: 0 1px 0 0;
      -webkit-appearance: none;
      float: left;
      z-index: 5
      }
      .sm_but_icon.right {
      float: right;
      border-width: 0 0 0 1px;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .3)
      }
      .sm_but_icon.invisible {
      visibility: hidden
      }
      .list_story_title {
      font-size: 1.1em;
      line-height: 1.2em
      }
      .list_story_time {
      font-size: .75em;
      font-weight: 900;
      line-height: 2em;
      color: #000
      }
      .list_story_image {
      width: 60px;
      height: 60px;
      border: 1px solid #333;
      margin: 4px 10px 10px 0;
      float: left;
      background-repeat: no-repeat;
      background-position: center;
      background-color: none;
      overflow: hidden
      }
      .newflag {
      position: absolute;
      left: 12px;
      top: 7px
      }
      footer {
      padding: 0 1em
      }
      img.dfm-logo {
      max-width: 100px;
      display: block;
      margin: .5em auto
      }
      #story_window>.content {
      background: #fff
      }
      #story_container {
      padding-top: 0
      }
      .story_wrapper p,
      h1 {
      margin: 20px 0
      }
      .meta {
      margin-bottom: 1em;
      color: grey;
      font-size: .75em
      }
      .story_author,
      .story_pubdate,
      .story_update {
      font-size: 80%;
      font-weight: 700
      }
      .main_image {
      width: 100%;
      margin-top: 1.5em
      }
      .main_image img {
      max-width: 100%
      }
      .caption_box {
      font-size: 70%;
      line-height: 1.2;
      font-weight: 700
      }
      .story_content {
      line-height: 1.8;
      margin: 0 15px
      }
      .story_content h3,
      .story_content p {
      margin-bottom: 1em
      }
      .side_margin {
      margin-left: 10px;
      margin-right: 10px
      }
      .scroller.full.custom li {
      height: auto
      }
      .scroller.full.custom li:after {
      position: absolute;
      top: 20px;
      right: 4px;
      color: #464646
      }
      .scroller.custom .list_header {
      color: #777;
      font-weight: 800
      }
      .toolbar.darkdarkblue {
      background-image: -webkit-gradient(linear, 50% 0, 50% 100%, from(#11598C), color-stop(.03, #154e77), to(#113752));
      background: -moz-linear-gradient(top, #11598C 0, #154e77 50%, #154e77 51%, #113752 100%)
      }
      .toolbar.lightGray {
      background: #ddd
      }
      .toolbar.invisible {
      background: 0 0;
      background: none;
      border: none
      }
      .toolbar.movable {
      position: fixed;
      top: 0;
      margin: 0;
      border: none
      }
      .fakelink {
      text-decoration: underline
      }
      .page-header {
      border-bottom: 1px solid #ddd;
      padding-bottom: .3em;
      margin-bottom: 0;
      font-weight: 500
      }
      .link-list>li {
      list-style: none;
      border-bottom: 1px solid #ddd;
      padding: .75em 0
      }
      #story_related_content {
      margin-bottom: 1em
      }
      .sm_but_icon.backb {
      float: right;
      background-size: 20px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg)
      }
      .close {
      font-family: Arial;
      font-size: 40px;
      line-height: 40px;
      font-weight: 700;
      text-align: center;
      color: #000;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
      opacity: .6
      }
      .close:focus,
      .close:hover {
      opacity: .8
      }
      .sections {
      float: right;
      padding-top: 11px
      }
      .icon-bar {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 24px;
      height: 3px;
      background-color: #FFF
      }
      .sections.active {
      background: -moz-linear-gradient(top, #666 0, #000 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(100%, #000));
      background: -webkit-linear-gradient(top, #666 0, #000 100%);
      background: linear-gradient(to bottom, #666 0, #000 100%);
      box-shadow: inset 0 1px 15px rgba(0, 0, 0, 1)
      }
      .sections.active>.icon-bar {
      background-color: #999
      }
      .icon-bar+.icon-bar {
      margin-top: 4px
      }
      .breadcrumb {
      margin: 1em;
      list-style: none
      }
      .breadcrumb>li {
      display: inline-block;
      font-size: 1em;
      margin: 0 .5em 0 0
      }
      .breadcrumb li a {
      display: block;
      text-decoration: none;
      color: grey;
      background: #ddd;
      padding: 0 .625em 0 1em
      }
      .breadcrumb li a:focus,
      .breadcrumb li a:hover {
      background: #c4c4c4
      }
      .breadcrumb li a:before,
      .breadcrumb li.active:before {
      border-left: .5em solid #fff;
      border-top: .85em solid transparent;
      border-bottom: .85em solid transparent;
      content: "";
      position: absolute;
      left: 0
      }
      .breadcrumb li a:after {
      border-left: .5em solid #ddd;
      border-top: .85em solid transparent;
      border-bottom: .85em solid transparent;
      content: "";
      position: absolute;
      right: -.5em
      }
      .breadcrumb li a:hover:after {
      border-left-color: #c4c4c4
      }
      .breadcrumb li.active {
      padding: 0 .625em 0 1em;
      background-color: #049cdb;
      color: #fff
      }
      .more_images {
      margin-bottom: 14px;
      font-weight: 900
      }
      .gallery_bigImage {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #000;
      padding: 0;
      margin: 0;
      overflow: hidden
      }
      .centered_ad img {
      display: block;
      margin: auto
      }
      .loading_container {
      background: rgba(255, 255, 255, .85)
      }
      .loading_text {
      color: #000;
      font-weight: 700
      }
      .barlittle {
      background-color: #000
      }
      .versiontext {
      color: #333;
      font-size: .6em;
      position: absolute;
      bottom: 112px;
      right: 10px;
      line-height: 1.2em
      }
      .toolbar.underad {
      top: 50px
      }
      #section_ad_mid_1_wrapper,
      #section_ad_mid_2_wrapper {
      width: 100%;
      overflow: hidden;
      display: block;
      margin: 34px auto 20px
      }
      #section_ad_2_wrapper {
      margin-top: 0!important
      }
      #section_ad_mid_1_cover,
      #section_ad_mid_2_cover {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2
      }
      .content.underad {
      top: 50px
      }
      .content.belowtoolbar.underad {
      top: 100px
      }
      .bounce-fix xul {
      list-style: none;
      margin: 0;
      padding: 0
      }
      .bounce-fix xul xli {
      padding: 10px;
      line-height: 30px;
      border-bottom: 1px solid #999;
      border-top: 1px solid #fff;
      font-size: 26px
      }
      .vflex {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-box-align: stretch;
      -webkit-box-flex: 1
      }
      .scrolling {
      -webkit-overflow-scrolling: touch;
      overflow: auto
      }
      .native_wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0
      }
      .master {
      position: absolute;
      top: 0;
      width: 100%;
      bottom: 0;
      left: 0
      }
      .bounce-fix {
      margin-bottom: -1px
      }
      .ob_org_header,
      .obpd_header {
      border-bottom: 1px solid #ddd;
      padding-bottom: .3em;
      font-weight: 500;
      margin: 10px 0;
      line-height: 1.33em;
      font-size: 130%
      }
      .ob_mobile_rec {
      margin: 15px 0;
      line-height: 1.2em
      }
      .scroller.full .Xli.childList,
      .scroller.full .Xli.eventList,
      .scroller.full .Xli.marketList {
      padding-left: 40px;
      display: none;
      background-color: #eee;
      color: #333;
      border-bottom: 1px solid #cdcbcb
      }
      .nav-click {
      position: absolute;
      top: 0;
      right: 0;
      border-left: 1px solid #e3e3e3;
      height: 49px;
      width: 50px;
      cursor: pointer
      }
      .nav-click i {
      display: block;
      height: 48px;
      width: 48px;
      background-size: 20px
      }
      .nav-rotate {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg)
      }
      #getppAccessbutton {
      height: 26px;
      position: absolute;
      top: 9px;
      right: 10px;
      font-size: .7em;
      text-align: center;
      background-color: #ddd;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      padding: 5px 15px
      }
      #checkoutbutton:hover {
      opacity: .6
      }
      .list_sponsored_content {
      color: #FFF;
      font-size: .6em;
      font-weight: 500;
      background-color: #000;
      padding: 2px 9px;
      display: inline-block
      }
      .watchVideo {
      background-color: #000;
      height: 40px;
      width: 100%;
      padding: 5px 0 3px;
      color: #fff;
      display: block;
      border-radius: 2px
      }
      .watchVideo label {
      margin: 0 auto;
      width: 50%;
      display: block
      }
      .watchVideo img {
      vertical-align: middle;
      padding-left: 3px;
      width: 30px;
      height: 30px
      }
      .close-video {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      display: block;
      height: 50px;
      width: 100%;
      color: #fff;
      padding: 12px 0 0 10px;
      background-color: #000
      }
      .close-video label {
      border: 2px solid #fff;
      padding: 4px 10px;
      border-radius: 5px
      }
      #video-player {
      position: fixed;
      padding-bottom: 56.25%;
      padding-top: 25px;
      margin-top: 40px;
      height: 700px;
      width: 100%;
      z-index: 99
      }
      #video-player iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%
      }
      .loadingVideo {
      margin: 100px 0 0 50px;
      color: #fff;
      z-index: -1;
      position: fixed;
      font-size: 24px;
      font-weight: 700
      }
    link(rel='stylesheet', type='text/css', href='http://webservices.medianewsgroup.com/mobile/t1/props/denverpost.com/prop.css')
    link(rel='apple-touch-icon', href='http://webservices.medianewsgroup.com/mobile/t1/props/denverpost.com/prop_icon120.png', sizes='120x120')
    iframe(src='http://tpc.googlesyndication.com/safeframe/1-0-2/html/container.html', kwframeid='1', style='visibility: hidden; display: none;')
    link(rel='stylesheet', type='text/css', href='http://webservices.medianewsgroup.com/mobile/t1/props/denverpost.com/prop.css')
    link(rel='apple-touch-icon', href='http://webservices.medianewsgroup.com/mobile/t1/props/denverpost.com/prop_icon120.png', sizes='120x120')
    style#__web-inspector-hide-shortcut-style__(type='text/css').
      .__web-inspector-hide-shortcut__,
      .__web-inspector-hide-shortcut__ *,
      .__web-inspector-hidebefore-shortcut__::before,
      .__web-inspector-hideafter-shortcut__::after {
      visibility: hidden !important;
      }
  body(style='height: 628px;')
    iframe(src='http://tpc.googlesyndication.com/safeframe/1-0-2/html/container.html', style='visibility: hidden; display: none;', kwframeid='2')
    // Chartbeat
    // Media Center Gallery
    link(rel='stylesheet', href='http://extras.mnginteractive.com/live/partners/MediaCenter/embedded_galleries/mc_embed_styles.css', type='text/css')
    title Mobile Web - Home
    // End Google Tag Manager
    #dfm_mobile(style='opacity: 1;/* width: 320px; *//* height: 568px; */position: initial;')
      #home.active.front(style='\
      height: auto;\
      position: initial;\
      ')
        .toolbar(style='\
        position: fixed;\
        ')
          // ALL buttons first
          //
            then add title
            <h4 class="noImageToolbarText" style="text-align:left;padding:0 14px;">The Berkshire Eagle</h4>
          #sectionflag.newflag
            img(src='http://webservices.medianewsgroup.com/mobile/t1/props/denverpost.com/logo-whiteHR.png', alt='Denver Post', width='190')
          .sm_but_icon.sections(onclick="xInterface.showWindow( 'sections_window', { transition: 'instant' });")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .content.belowtoolbar(style='')
          #home_section_list.scroller.full.custom(style='background-color:#FFF;')
            .list_header(style='color:##000000;') Breaking News
            ul#xLister.list.Xul(style='\
            overflow: scroll;\
            ')
              li.Xli(onclick="clickStory('29602419');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0206/20160206__SP24PATRIOTSBRONCOS_JA36042a~p1_100.jpg');background-size: cover;")
                .list_story_title Peyton Manning retires from football after 18 NFL seasons
                .list_story_time Sunday - 4:23 p.m.
              li.Xli(onclick="clickStory('29603263');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0306/20160306__Frances_henry~p1_100.jpg');background-size: cover;")
                .list_story_title Working with Colorado teacher Frances Henry was like "working with excellence"
                .list_story_time Sunday - 3:36 p.m.
              li.Xli(onclick="clickStory('29602801');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0306/20160306_120702_peyton-manning_100.jpg');background-size: cover;")
                .list_story_title
                  | Peyton Manning retirement brings difficult finality, going out on top draws envy of greats
                .list_story_time Sunday - 3:16 p.m.

              //- INSERT DMC NATIVE WIDGET HERE
              script(id="dmc-0f54" type="text/javascript" src="#{domain}/adunit/0f54" async)

              li.Xli(onclick="clickStory('29602686');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site333/2016/0306/20160306_101600_Nancy_Reagan_100.jpg');background-size: cover;")
                .list_story_title Former first lady Nancy Reagan dies at 94 in California
                .list_story_time Sunday - 3:02 p.m.
              li.Xli(onclick="clickStory('29600936');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0305/20160305__Brock-Osweiler~p1_100.jpg');background-size: cover;")
                .list_story_title Renck: How the Houston Texans could block a Broncos Super Bowl repeat
                .list_story_time Sunday - 2:18 p.m.
              li.Xli(onclick="clickStory('29602845');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0206/20160206__SP13FBNBRONX_2JL9334x~p1_100.jpg');background-size: cover;")
                .list_story_title Todd Helton on Peyton Manning: "He represents pinnacle of excellence"
                .list_story_time Sunday - 1:50 p.m.
              li.Xli(onclick="clickStory('29600705');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0305/20160305__DP_NGPS_TypeSetExport20160306_A1_A1-cd06oilroyaltiesp~p1_100.jpg');background-size: cover;")
                .list_story_title Mineral owners assert property rights in Colorado's oil and gas fight
                .list_story_time Sunday - 12:55 p.m.
              li.Xli(onclick="clickStory('29602623');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0124/20160124_081606_peyton-manning_100.jpg');background-size: cover;")
                .list_story_title
                  | Statements from John Elway, Gary Kubiak, Joe Ellis on Peyton Manning's retirement
                .list_story_time Sunday - 12:42 p.m.
              li.Xli(onclick="clickStory('29602803');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0306/20160306_114846_peyton-manning_100.jpg');background-size: cover;")
                .list_story_title Broncos fans on Peyton Manning's retirement: "I'm going to miss him"
                .list_story_time Sunday - 11:10 a.m.
              li.Xli(onclick="clickStory('29602734');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0123/20160123__SP17STEELERSBRONCOS_JA23259x~p1_100.jpg');background-size: cover;")
                .list_story_title Memories of Peyton Manning's playing career are plentiful
                .list_story_time Sunday - 10:58 a.m.
              li.in_feed_ad
              li.Xli(onclick="clickStory('29591878');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0303/20160303__minturn2~p1_100.jpg');background-size: cover;")
                .list_story_title Minturn residents fight plan that would put homes on Meadow Mountain
                .list_story_time Sunday - 10:35 a.m.
              li.Xli(onclick="clickStory('29602747');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0306/20160306__BN20160331_Z00_BNSP07FBNBEST~p1_100.jpg');background-size: cover;")
                .list_story_title Is Peyton Manning the greatest NFL quarterback of all-time?
                .list_story_time Sunday - 10:17 a.m.
              li.Xli(onclick="clickStory('29600568');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0305/20160305__DP_NGPS_TypeSetExport20160306_B1_CDXXADVANCECARE(1)~p1_100.jpg');background-size: cover;")
                .list_story_title As older adult population rises, end-of-life discussions gain traction
                .list_story_time Sunday - 9:46 a.m.
              li.Xli(onclick="clickStory('29602697');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0306/20160306__p_b63bc1d4-a328-44a2-91ef-8bc83d9bc1a5~l~soriginal~ph_100.jpg');background-size: cover;")
                .list_story_title Mark Kiszla: Peyton Manning ends his career as a Super Bowl winner
                .list_story_time Sunday - 9:26 a.m.
              li.Xli(onclick="clickStory('29602588');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0306/20160306__Rain_Colorado~p1_100.jpg');background-size: cover;")
                .list_story_title Forecast: Rain, snow could return to Denver area on Monday
                .list_story_time Sunday - 9:12 a.m.
              li.Xli(onclick="clickStory('29602486');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0227/20160227__SP07PANTHERSBRONCOS_3AO8605x-119~p1_100.jpg');background-size: cover;")
                .list_story_title How Peyton Manning changed the face of the Denver Broncos
                .list_story_time Sunday - 9:02 a.m.
              li.Xli(onclick="clickStory('29602525');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0129/20160129__BRONCOSDSC_6147-166~p1_100.jpg');background-size: cover;")
                .list_story_title Peyton Manning's long, winding road all about winning
                .list_story_time Sunday - 8:48 a.m.
              li.Xli(onclick="clickStory('29600124');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0207/20160207__Malik-Jackson~p1_100.jpg');background-size: cover;")
                .list_story_title 6 Broncos defenders to hit open market
                .list_story_time Saturday - 11:08 p.m.
              li.Xli(onclick="clickStory('29599969');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site36/2016/0305/20160305_033059_fbn-brock-osweiler_100.jpg');background-size: cover;")
                .list_story_title Broncos make three-year offer to quarterback Brock Osweiler
                .list_story_time Saturday - 10:04 p.m.
              li.Xli(onclick="clickStory('29600360');", style='overflow:hidden;')
                .list_story_image(style="background-image:url('http://extras.mnginteractive.com/live/media/site333/2016/0305/20160305__USAPPollFlintWater~2_100.jpg');background-size: cover;")
                .list_story_title Only half of Americans confident in safety of water flowing from their tap
                .list_story_time Saturday - 10:02 p.m.
            // just to add space so you can see everything above lower ad
      // /home
    // /dfm_mobile
    // Video Player
