doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    style(type='text/css').
  body
    .container
      .row
        .col-xs-12
          h3 Ad Unit #1
          script(id="dmc-0f54" type="text/javascript" src="#{domain}/adunit/0f54" async)

          hr

          h3 Ad Unit #2
          script(id="dmc-b9e1" type="text/javascript" src="#{domain}/adunit/b9e1" async)

