extends layout

block content
	//- link(rel='stylesheet', type='text/css', href='https://cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.css')
	script(src='https://cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.js')
	script(src='/js/mixpanel-native.js')

	.row.wrapper.border-bottom.white-bg.page-heading
		.col-lg-9
			h2 Analytics
			ol.breadcrumb
				li
					a(href="/dashboard") Home
				li.active
					a(href="/dashboard/adunit/analytics/mixpanel") Analytics

	.wrapper.wrapper-content.animated.fadeInRight
		.ibox
			.ibox-title
				a.btn.btn-primary.pull-right(href="/dashboard/creatives/remove-orphans")
					| Remove Orphans

			.ibox-content
				#output
