extends layout

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-9
      h2 Contacts
      ol.breadcrumb
        li
          a(href="/") Home
        li
          a(href="/").active Ad Unit


  .wrapper.wrapper-content.animated.fadeInLeft
    .row
      .col-lg-12
        .text-center.m-t-lg
          h1= title
          p Welcome to #{title}


  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-4
        .contact-box
          .col-sm-4
            img(src="http://placehold.it/320x180/30A78B/FFFFFF/&text=STR")
          .col-sm-8
            h3 John Ryan Cottam
            p
              i.fa.fa-map-marker &nbsp;Hwy 230 #97
            address
              | <b>Sharethrough</b><br>
              | 354 Pacific Ave.<br>
              | San Francisco, CA 94111

      .col-lg-4
        .contact-box
          .col-sm-4
            img(src="http://placehold.it/320x180/30A78B/FFFFFF/&text=STR")
          .col-sm-8
            h3 John Ryan Cottam
            p
              i.fa.fa-map-marker &nbsp;Hwy 230 #97
            address
              | <b>Sharethrough</b><br>
              | 354 Pacific Ave.<br>
              | San Francisco, CA 94111

      .col-lg-4
        .contact-box
          .col-sm-4
            img(src="http://placehold.it/320x180/30A78B/FFFFFF/&text=STR")
          .col-sm-8
            h3 John Ryan Cottam
            p
              i.fa.fa-map-marker &nbsp;Hwy 230 #97
            address
              | <b>Sharethrough</b><br>
              | 354 Pacific Ave.<br>
              | San Francisco, CA 94111


    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Table
          .ibox-content
            table.table.sortable-theme-bootstrap(data-sortable)
              thead
                tr
                  th ID
                  th Name
              tbody
                tr
                  td
                    | 123
                  td
                    | ABC
                tr
                  td
                    | 345
                  td
                    | DEF


    .row
      .col-lg-3
        .ibox.float-e-margins
          .ibox-content.mailbox-content
            .file-manager
              a.btn.btn-block.btn-primary.compose-mail New Line Item
              .space-25
              h5 Status
              ul.folder-list.m-b-md(style="padding: 0")
                li
                  a
                    i.fa.fa-inbox &nbsp; Active
                    span.label.label-warning.pull-right
                li
                  a
                    i.fa.fa-envelope-o &nbsp; Archived
                    span.label.label-warning.pull-right
      .col-lg-9.animated.fadeInRight
        .mail-box-header
          form.pull-right.mail-search
            .input-group
              input.form-control.input-sm(type="text" name="search" placeholder="search for line item")
              .input-group-btn
                button.btn.btn-sm.btn-primary Search

          h2 Inbox (16)
          .mail-box
            table.table.sortable-theme-bootstrap(data-sortable)
              thead
                tr
                  th ID
                  th Name
              tbody
                tr
                  td
                    | 123
                  td
                    | ABC
                tr
                  td
                    | 345
                  td
                    | DEF


    .row(style="margin-top:20px;")
      .col-lg-4
        .ibox
          .ibox-title
            span.label.label-primary.pull-right IVB
            h5 Publisher Name
          .ibox-content
            h4 Line Item Name
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel elit viverra, pulvinar purus in, sodales elit. Phasellus lorem neque, pretium sit amet tortor eu, aliquet placerat odio.
            .row.m-t-sm
              .col-sm-4
                .font-bold Projects
                |12
              .col-sm-4
                .font-bold Projects
                |12
              .col-sm-4
                .font-bold Projects
                |12
      .col-lg-4
        .ibox
          .ibox-title
            span.label.label-primary.pull-right IVB
            h5 Publisher Name
          .ibox-content
            h4 Line Item Name
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel elit viverra, pulvinar purus in, sodales elit. Phasellus lorem neque, pretium sit amet tortor eu, aliquet placerat odio.
            .row.m-t-sm
              .col-sm-4
                .font-bold Projects
                |12
              .col-sm-4
                .font-bold Projects
                |12
              .col-sm-4
                .font-bold Projects
                |12
      .col-lg-4
        .ibox
          .ibox-title
            span.label.label-primary.pull-right IVB
            h5 Publisher Name
          .ibox-content
            h4 Line Item Name
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel elit viverra, pulvinar purus in, sodales elit. Phasellus lorem neque, pretium sit amet tortor eu, aliquet placerat odio.
            .row.m-t-sm
              .col-sm-4
                .font-bold Projects
                |12
              .col-sm-4
                .font-bold Projects
                |12
              .col-sm-4
                .font-bold Projects
                |12


  script.
    //- $('.footable').footable();