doctype html
html
  head
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', type='text/css', href='//d12vp4iug3um11.cloudfront.net/clixieplayer/0.12.10-RC/clixieplayer.min.css')
    style.
      body {
      margin: 0;
      padding: 0;
      }

      #videoPlayer{
        position:relative;
      }

      .clixie-controls button{
        outline:none;
      }

      .clixie-toast-image, .clixie-dock, .clixie-fullscreen{
          display:none !important;
      }

      .clixie-toast{
          cursor:pointer;
          box-shadow:none !important;
          border:none !important;
      }

      #dmc-apply{
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 500;
        color: white;
        font-size: 1.4em;
        text-align: center;
        padding: 6px;
        text-transform: uppercase;
        background: url(http://dmc2k.digitalmediacommunications.com/img/dmcmedia/applyNow.png);
        width: 32px;
        height: 32px;
        cursor:pointer;
      }

      #dmc-loading{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.7);
        z-index: 600;
        text-align: center;
        color: white;
        font-family: sans-serif;
        text-transform: uppercase;
        padding-top: 80px;
        font-size: 1.5em;
      }


  body
    #videoPlayer
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(type='text/javascript', src='//d12vp4iug3um11.cloudfront.net/clixieplayer/0.12.10-RC/clixieplayer.min.js')
    script(src="/card/js/clixie.js" type="text/javascript")


//- IFRAME EMBED
//- <iframe id="clixie-video-player" width="100%" height="100%" allowfullscreen frameborder="0" src="http://localhost:3000/clixie/embed"></iframe>

//- clixie self-contained iframe embed
//- <iframe id="clixie-video-player" width="100%" height="100%" allowfullscreen frameborder="0" src="http://responsestg.clixiesite.com/embed?video_uuid={{extra.clixie_vid_uuid}}&page=1&transitions"></iframe>

//- PREVIEW
//- http://localhost:3000/preview/clixie/embed/c81e5343-18c4-4ccd-821b-9792e5f1eccd/http%3A%2F%2Fdmc2k.digitalmediacommunications.com%2Fbeaumont%2Femployment%2F6131403_a.mp4